{% extends 'base.html' %}

{% block title %}
Our Tutors
{% endblock %}

{% block content %}
<div class="hero-page">
    <h1>Find a Tutor</h1>
    <h3>Check our Google Calendar for Availability</h3>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&title=S4S%20Tutoring%20Session&showTitle=0&showCalendars=0&showTz=0&src=ZjMwMGNlMjExNGYwYTFmZGRlMzMzNjFjNzBjOWRiZTMyYmE3ZGMwY2UyYTQxM2JjODFiZjZkNTJhYWU3MTgyMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23E4C441&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}